<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
    ">
    
    <!-- Configures a handler that uses the JSF ResourceHandler API introduced in JSF 2 to serve web 
         application and classpath resources such as images, CSS and JavaScript files from well-known locations. -->
    <!-- <faces:resources /> -->
    
    <!-- Deploys a flow executor. A FlowExecutor executes flow definitions and acts as the entry-point into the 
         Web Flow system. A flow executor launches new flow executions and resumes paused flow 
         executions. Paused flow executions are stored between requests in a FlowExecutionRepository. -->
    <!-- <webflow:flow-executor id="flowExecutor" /> -->
    
    <!-- Deploys a registry of flow definitions. A flow registry is used by a flow executor to locate flows to execute. 
         Each flow definition registered in this registry is assigned a unique identifier. By default, this identifier is 
         the name of the externalized resource minus its file extension. For example, a registry containing flow 
         definitions built from the files "orderitem-flow.xml" and "shipping-flow.xml" would index those 
         definitions by "orderitem-flow" and "shipping-flow" by default. -->
    <!-- <webflow:flow-registry id="flowRegistry" flow-builder-services="facesFlowBuilderServices">
        <webflow:flow-location path="/WEB-INF/flows/test.xml" />
    </webflow:flow-registry>
     -->
    <!-- Registers custom implementations of services needed to build flow definitions in a JSF environment. 
         With this tag, you may configure a custom ConversionService, FormatterFactory, ExpressionParser, 
         and ViewFactoryCreator implementation. This tag is only needed when you wish to plugin custom 
         implementations. -->
    <!-- <faces:flow-builder-services id="facesFlowBuilderServices" />
    
    <bean class="org.springframework.faces.webflow.JsfFlowHandlerAdapter">
        <property name="flowExecutor" ref="flowExecutor" />
    </bean> -->
    
    
    
    <!-- Maps request paths to flows in the flowRegistry;
    e.g. a path of /hotels/booking looks for a flow with id "hotels/booking" -->
    <!-- <bean class="org.springframework.webflow.mvc.servlet.FlowHandlerMapping">
        <property name="flowRegistry" ref="flowRegistry"/>
        <property name="order" value="0"/>
    </bean> -->
    
    
    
    <context:component-scan base-package="ro.tatacalu.zookeeperui" />
    <!-- 
    <bean id="defaultServletHttpRequestHandler" class="org.springframework.web.servlet.resource.DefaultServletHttpRequestHandler" />
    
    <bean id="simpleUrlHandlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="urlMap">
            <map>
                <entry key="/resources/**" value-ref="defaultServletHttpRequestHandler" />
            </map>
        </property>
    </bean>
    
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />
    
    <mvc:annotation-driven />
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="cache" value="false" />
        <property name="viewClass" value="org.springframework.faces.mvc.JsfView" />
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".xhtml" />
    </bean> -->
    
</beans>